h1 {
    text-align: center;
    color: cornflowerblue;
  }
  button{
    display: flex;
    background-color: cornflowerblue;
    color: white;
    justify-content: center;
   align-items: center;
   
  }
  div{
    text-align: center;
  }
  img {

    width: 400px;
    height: auto;
    margin: 20px;
  }